body{
	background-image:url(../fondos/cerezo.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
}

.contenedor-galeria{
	width:657px;
	height:502px;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.img1{
	float:left;
	width:206px;
	height:298px;
	background-image:url(../galeria/1.jpg);
	background-size:150% 120%;
	background-position:center;
}

.img2{
	float:right;
	margin-right:225px;
	width:214px;
	height:226px;
	background-image:url(../galeria/2.jpg);
	background-size:170% 100%;
	background-position:center;
}

.img3{
	float:right;
	margin-right:0px;
	margin-top:-226px;
	width:214px;
	height:329px;
	background-image:url(../galeria/3.jpg);
	background-position:center;
}

.img4{
	float:left;
	margin-right:32px;
	margin-top:12px;
	width:206px;
	height:192px;
	background-image:url(../galeria/4.jpg);
	background-size: 200% 100%;
	background-position:center;
}

.img5{
	float:right;
	margin-right:225px;
	margin-top:-264px;
	width:214px;
	height:264px;
	background-image:url(../galeria/5.jpg);
	background-size: 200% 100%;
	background-position:center;
}

.img6{
	float:right;
	margin-right:0px;
	margin-top:-161px;
	width:214px;
	height:161px;
	background-image:url(../galeria/6.jpg);
	background-size: 120% 130%;
	background-position:center;
}
